{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"gen-shadow-cljs-edn.cljk" ".cljs"
  "src/bonsai/delta.cljk" ".cljc"
  "src/bonsai/git_codec.cljk" ".cljc"
  "src/bonsai/git_object.cljk" ".cljc"
  "src/bonsai/log.cljk" ".cljc"
  "src/bonsai/loose_object.cljk" ".cljc"
  "src/bonsai/object.cljk" ".cljc"
  "src/bonsai/pack.cljk" ".clj"
  "src/bonsai/private_repo.cljk" ".clj"
  "src/bonsai/private_wire.cljk" ".cljc"
  "src/bonsai/ref_policy.cljk" ".cljc"
  "src/bonsai/refs.cljk" ".cljc"
  "src/bonsai/remote_helper.cljk" ".clj"
  "src/bonsai/repo.cljk" ".cljc"
  "test/bonsai/conformance_test.cljk" ".cljc"
  "test/bonsai/delta_test.cljk" ".cljc"
  "test/bonsai/git_codec_test.cljk" ".cljc"
  "test/bonsai/git_object_test.cljk" ".cljc"
  "test/bonsai/log_test.cljk" ".cljc"
  "test/bonsai/loose_object_test.cljk" ".cljc"
  "test/bonsai/object_test.cljk" ".cljc"
  "test/bonsai/pack_test.cljk" ".clj"
  "test/bonsai/private_repo_test.cljk" ".clj"
  "test/bonsai/private_wire_portable_test.cljk" ".cljc"
  "test/bonsai/private_wire_test.cljk" ".clj"
  "test/bonsai/ref_policy_test.cljk" ".cljc"
  "test/bonsai/refs_test.cljk" ".cljc"
  "test/bonsai/repo_test.cljk" ".cljc"
  "test/remote_helper_test.cljk" ".clj"}}
